@page
@model Inlämning.Pages.Admin.ManageUsersModel
@{
}

<div class="text-center">
   
        <div>
            <h1>Users!</h1>
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>UserName</th>
                <th>Id</th>
                <th>Email</th>
                <th>Organizer?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Attendee)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td><input type="checkbox" id="vehicle1" name="" value="" ></td>
                </tr>
            }
        </tbody>
        <tbody>
            @foreach (var item in Model.Organizer)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td><input type="checkbox" id="vehicle1" name="" value="" checked></td>
                </tr>
            }
        </tbody>
    </table> 
 </div>























