@page
@model Inlämning.Pages.Admin.ManageUsersModel
@using Microsoft.AspNetCore.Identity;
@using Inlämning.Models;
@using Microsoft.AspNetCore.Authorization;
@inject UserManager<User> userManager
@{
}

<div class="text-center">
    <div>
        <h1>Role: Attendee</h1>
    </div>
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Change Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Attendee)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>
                            <input type="hidden" value="@item.Id" name="id" />
                            <input id="hi" class="hidden-field" type="checkbox" onclick="this.form.submit();" name="hi" />
                        </td>


                    </tr>
                }
        </table>
    </form>
    <div>
        <h1>Role: Organizer</h1>
    </div>

    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Change Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Organizer)
                {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>
                            <input type="hidden" value="@item.Id" name="id" />
                            <input id="hi" class="hidden-field" type="checkbox" onclick="this.form.submit();" name="hi" />
                        </td>


                    </tr>
                }
        </table>
    </form>
</div>























</div>
